.header {
  background: #3C4151;
  padding: 25px 0 35px;
  height: 290px;
}

.header .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header a {
  display: inline-block;
  max-width: 165px;
}

.header p {
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}

.header .header-link {
  position: absolute;
  top: 0;
  left: 20px;
}